:root {
  --gray-color: #848484;
  --red-color: #d10202;
  --gray-backgraund: #f2f2f2;
}
body {
  font-family: "Roboto", serif;
}
a {
  text-decoration: none;
}
.space {
  padding: 0 30px;
}
i {
  color: gray;
}
.top-header {
  background-color: black;
  color: #fff;
  display: flex;
  justify-content: space-between;
}
.discaount {
  font-size: 12px;
  padding: 10px;
}

.Shop-Now {
  position: relative;
}
.Shop-Now:hover {
  color: var(--gray-color);
}
.Shop-Now::before {
  position: absolute;
  border-bottom: 1px solid #fff;
  content: "";
  height: 100%;
  width: 100%;
}
.Shop-Now:hover::before {
  width: 100%;
  animation-name: shopNow;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

@keyframes shopNow {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
    border-bottom-color: var(--gray-color);
  }
}
.navbar {
  display: flex;
  justify-content: flex-end;
  background-color: #000;
  padding: 10px 20px;
  color: #fff;
}
@media (max-width: 700px) {
  .top-header .navbar {
    display: none;
  }
  .top-header {
    justify-content: center;
  }
}

.dropdown {
  position: relative;
  display: inline-block;
  margin-left: 20px;
  cursor: pointer;
}

.dropdown-toggle {
  color: #fff;
  text-decoration: none;
  font-size: 12px;
  display: flex;
  align-items: center;
  gap: 5px;
  position: relative;
}
.dropdown-icon::after {
  position: absolute;
  content: "";
  width: 6px;
  height: 6px;
  border: 1px solid #fff;
  border-top-color: transparent;
  border-left-color: transparent;
  right: -10px;
  transform: rotateZ(45deg);
  margin-bottom: 5px;
  margin-right: -3px;
}

.dropdown-toggle:hover {
  color: #ccc;
}

.test {
  width: 100%;
  height: 100%;
  background-color: transparent;
  position: absolute;
  z-index: 200;
}
.dropdown-menu {
  display: none;
  position: absolute;
  right: 0;
  margin-top: 10px;
  background-color: #fff;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  padding: 10px 0;
  min-width: 120px;
  z-index: 100;
  transition: all 0.5s ease;
  opacity: 0;
  transform: translateY(20px);
}
.show {
  transform: translateY(0) !important;
  opacity: 1 !important;
}

.dropdown-menu a {
  color: #000;
  text-decoration: none;
  padding: 10px 20px;
  display: block;
  font-size: 14px;
  transition: background-color 0.2s ease;
}

.dropdown-menu a:hover {
  color: var(--gray-color);
}

.all-landing {
  position: relative;
  background-color: var(--gray-backgraund);
  height: 100vh;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 30px;
}
header .logo img {
  width: 150px;
}
header i {
  color: #000;
  font-size: 20px;
  padding: 10px;
}
@media (max-width: 600px) {
  header {
    padding: 20px 0px;
  }
}
@media (max-width: 500px) {
  header .logo img {
    width: 110px;
  }
  header i {
    color: #000;
    font-size: 16px;
    padding: 10px;
  }
}
.notifications {
  position: relative;
}
.notifications::before {
  position: absolute;
  content: "0";
  top: -6px;
  width: 10px;
  height: 10px;
  background-color: #000;
  color: white;
  font-size: 10px;
  padding: 6px;
  border-radius: 50%;
  text-align: center;
  left: 25px;
}
.content-landing .content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 40px 30px;
  transition: all 0.3s ease;
  height: calc(90vh - 100px);
}
@media (min-width: 600px) and (max-width: 750px) {
  .content-landing .content {
    padding: 40px 0;
  }
}

.content-landing .content.hidden {
  opacity: 0;
}
.content-landing .img-landing img {
  width: 550px;
}
@media (max-width: 1100px) {
  .content-landing .img-landing img {
    width: 350px;
  }
}

.all-text h2 {
  font-size: 45px;
  width: 80%;
  letter-spacing: 6px;
  font-weight: 400;
}
@media (max-width: 850px) {
  .all-text h2 {
    font-size: 35px;
  }
}
@media (max-width: 600px) {
  .content-landing .content {
    flex-direction: column;
    text-align: center;
  }
  .all-text h2 {
    width: 100%;
  }
  .all-text {
    margin-bottom: 10px;
  }
}
.all-text span {
  font-weight: bold;
}
.all-text p {
  font-size: 17px;
}
.shop-now {
  position: relative;
  display: inline;
  transition: all 1s ease;
  cursor: pointer;
}
.shop-now::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 1px;
  background-color: #000;
  bottom: 0;
}
.shop-now:hover::before {
  animation-name: shop;
  animation-duration: 0.7s;
  animation-fill-mode: forwards;
}

@keyframes shop {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
    border-bottom-color: var(--gray-color);
  }
}

.form-signIn .inputs input {
  margin: 12px 25px;
  height: 40px;
  width: 250px;
  outline: none;
  border: 1px solid #ccc;
  padding: 0 10px;
}
.submit {
  margin: 12px 25px;
  border: none;
  background-color: #000;
  color: #fff;
  transition: 0.5s ease;
  padding: 10px 20px;
  font-weight: 500;
}
.submit:hover {
  background-color: #d43811;
}
.form-signIn input[type="checkbox"] {
  width: 18px;
  height: 18px;
  margin: 5px;
}
.Rember {
  display: flex;
  align-items: center;
}
.left-icon,
.right-icon {
  display: flex;
}
.left-navbar.open,
.right-navbar.open {
  left: 0;
}
.left-navbar {
  width: 320px;
  position: fixed;
  height: 100vh;
  background: #fff;
  left: -320px;
  top: 0;
  z-index: 1;
  box-shadow: -19px 0px 20px 20px #ccc;
  transition: all 0.5s ease;
}
.exit-right,
.exit {
  display: flex;
  padding: 10px;
}
.exit {
  justify-content: end;
}
.exit-right {
  justify-content: start;
}
.exit i {
  font-size: 25px;
}
.links-laft-bar {
  padding: 20px;
  position: relative;
}
.links-laft-bar ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-top: 20px;
  padding-left: 10px;
}
.links-laft-bar ul li {
  width: 100%;
  padding: 20px 0;
  cursor: pointer;
}
.links-laft-bar ul li a {
  color: #000;
  font-size: 20px;
  transition: all 0.5s ease;
  border-bottom: 0px solid var(--gray-color);
  position: relative;
}
.links-laft-bar ul .links-laft-bar-li .active {
  border-bottom: 1px solid var(--gray-color);
  color: var(--gray-color);
}
.links-laft-bar ul .links-laft-bar-li:hover .links-laft-bar-li-a {
  color: var(--gray-color);
}
.links-laft-bar ul .links-laft-bar-li .links-laft-bar-li-a::after {
  position: absolute;
  content: "";
  width: 0;
  height: 1px;
  background-color: var(--gray-color);
  left: 50%;
  bottom: 0;
  transition: all 0.5s ease;
}
.links-laft-bar ul .links-laft-bar-li:hover .links-laft-bar-li-a::after {
  width: 100%;
  left: 0;
}
.drop {
  position: relative;
}
.drop::before {
  position: absolute;
  content: "";
  width: 6px;
  height: 6px;
  border: 2px solid var(--gray-color);
  right: 0;
  border-left-color: transparent;
  border-bottom-color: transparent;
  transform: rotate(45deg);
}

.links-dropdown {
  display: none;
  width: 300px;
  position: absolute;
  right: -330px;
  background-color: #fff;
  transition: all 0.5s ease;
  z-index: 100;
  transition: all 0.5s ease;
  opacity: 0;
  transform: translateY(20px);
  box-shadow: 7px 12px 20px #eee;
}
@media (max-width: 600px) {
  .links-dropdown {
    top: 60px;
    right: -10px;
  }
  .content-landing .img-landing img {
    width: 250px;
  }
}
.links-dropdown ul li {
  padding: 12px;
}
.show-link {
  display: block;
}
.right-navBar {
  opacity: 0;
  position: fixed;
  background-color: #fff;
  padding: 30px;
  width: 300px;
  right: -430px;
  top: -5%;
  height: 100%;
  z-index: 100;
  transition: all 0.5s ease;
}
.right-navBar.open {
  opacity: 1;
  right: 0;
}
.emptyShop {
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.emptyShop p {
  color: #000;
  font-weight: 400;
}
.search {
  border: 1px solid var(--gray-backgraund);
  padding: 5px;
  display: flex;
  justify-content: space-between;
}
.search input {
  height: 45px;
  width: 100%;
  border: none;
  padding-left: 10px;
  outline: none;
}
.search i {
  color: var(--gray-color);
}
.products {
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.products p {
  color: #000;
}

.boltes {
  display: flex;
  background-color: var(--gray-backgraund);
  justify-content: center;
  padding: 10px 0;
}
.boltes div {
  margin: 3px;
  width: 15px;
  height: 15px;
  background-color: #fff;
  border-radius: 50%;
  border: 1px solid #000;
  cursor: pointer;
}
.boltes .active {
  background-color: #000;
}

.h2-title {
  padding: 20px 0;
}
.h2-title h2 {
  padding: 10px 0;
}
.scrol-shop {
  display: flex;
  justify-content: space-around;
  gap: 80px;
  margin: 20px 0;
  padding: 10px 0;
  overflow-x: scroll;
}
.all-shop-content {
  display: flex;
  align-items: center;
}
.img-scrol {
  width: 140px;
  height: 140px;
  position: relative;
  border-radius: 50%;
  overflow: hidden;
}
.img-scrol img {
  width: 100%;
  transition: 0.5s ease;
  height: 100%;
}
.img-scrol .overlay {
  opacity: 0;
  display: flex;
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-color: #0000007d;
  border-radius: 50%;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  transition: 0.5s ease;
}
.img-scrol .overlay a i {
  color: #eee;
}
.img-scrol:hover .overlay {
  opacity: 1;
}
.img-scrol:hover img {
  width: 110%;
  height: 110%;
}
.content-shop {
  margin-left: 15px;
}
.content-shop p {
  color: var(--gray-color);
}
.scrol-shop::-webkit-scrollbar {
  width: 100px;
}

.scrol-shop::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 5px;
}

.scrol-shop::-webkit-scrollbar-thumb {
  background: transparent;
  border-radius: 5px;
}

.all-banners {
  display: flex;
  gap: 10px;
}
.all-banners a {
  color: #000;
}
.lamp-banner {
  background-size: cover;
  background-image: url(../img/banner-0-removebg-preview.png);
  height: 335px;
  background-position: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  transition: all 0.4s ease;
}
.lamp-banner:hover {
  background-position: 70%;
}
.lamp-banner .shop-now {
  width: fit-content;
}
.detalis {
  font-size: 25px;
  margin: 0;
  padding: 5px;
  letter-spacing: 3px;
  font-weight: 500;
}
.frist-banner {
  width: 50%;
}
.table-banner {
  width: 100%;
  height: 340px;
  background-image: url(../img/banner-1.jpg);
  background-size: cover;
  background-position: 50%;
  display: flex;
}
.detalis-table {
  padding: 15px;
}
.table-banner p.shop-now {
  margin: 25px;
  max-width: fit-content;
}
.border-all {
  width: 100%;
  margin: 10px;
  height: 95%;
  padding-top: 5px;
  position: relative;
  transition: all 0.5s ease;
}
.border {
  position: absolute;
  transition: transform 0.3s ease;
}
.border.black {
  background-color: #000;
}
.border.white {
  background-color: #fff;
}
.top,
.bottom {
  left: 0;
  width: 100%;
  height: 1px;
}
.left,
.right {
  top: 0;
  height: 100%;
  width: 1px;
}
.top {
  top: 0;
  transform-origin: left;
  transform: scaleX(0);
}
.bottom {
  bottom: 0;
  transform-origin: right;
  transform: scaleX(0);
}
.left {
  left: 0;
  transform-origin: top;
  transform: scaleY(0);
}
.right {
  right: 0;
  transform-origin: bottom;
  transform: scaleY(0);
}
.border-all:hover .top {
  transform: scaleX(1);
}
.border-all:hover .bottom {
  transform: scaleX(1);
}
.border-all:hover .left {
  transform: scaleY(1);
}
.border-all:hover .right {
  transform: scaleY(1);
}
.second-banner {
  width: 50%;
  height: 100%;
  background-image: url(../img/banner-2.jpg);
  background-size: cover;
  background-position: 50%;
  text-align: center;
  margin-top: 10px;
}
@media (max-width: 775px) {
  .all-banners {
    flex-direction: column-reverse;
  }
  .second-banner,
  .frist-banner {
    width: 100%;
  }
}
.big-sale {
  color: #fff;
  padding: 15px;
  height: 85vh;
}
.big-sale span {
  font-weight: bold;
}
.big-sale p {
  font-size: 28px;
  font-weight: 500;
  letter-spacing: 4px;
  margin: 25px 0;
}
.big-sale h5 span {
  border-bottom: 1px solid #fff;
  font-size: 20px;
}
.therd-banner,
.second-banner,
.frist-banner {
  cursor: pointer;
}
.therd-banner-content {
  background-image: url(../img/banner03.jpg);
  background-size: cover;
  padding: 50px 0;
  margin-top: 10px;
  transition: all 0.4s ease;
  display: flex;
}
.therd-banner-content:hover {
  background-position: 50%;
}
.therd-banner-content h1 {
  font-size: 65px;
  margin: 0 0 0 10px;
}
.content {
  margin-left: 35px;
}
.content h3 {
  font-size: 30px;
  letter-spacing: 5px;
  margin: 0;
  font-weight: 500;
}
.content p {
  letter-spacing: 2px;
  font-weight: 400;
}
@media (max-width: 685px) {
  .therd-banner-content {
    flex-direction: column;
    text-align: center;
  }
}
@media (max-width: 485px) {
  .content h3 {
    font-size: 20px;
  }
  .therd-banner-content h1 {
    font-size: 45px;
    margin: 0 0 10px 10px;
  }
}
.grid-container {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
}
@media (min-width: 771px) and (max-width: 990px) {
  .grid-container {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 770px) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.intro h4 {
  font-size: 40px;
  letter-spacing: 1px;
  font-weight: 400;
  width: 75%;
}
.intro p {
  font-size: 18px;
  letter-spacing: 1px;
  cursor: pointer;
}
.intro p:hover {
  color: #d10202;
}
@media (max-width: 770px) {
  .intro {
    display: none;
  }
}
.img-best {
  position: relative;
}
.detalis-best {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  width: 100%;
  padding: 5px;
}
.img-best img {
  width: 100%;
}
.status {
  display: flex;
  gap: 10px;
}
.status .hot {
  background-color: #d10202;
}
.sold-out {
  background-color: #9c9c9c;
}
.status .hot,
.status .sale,
.status .sold-out {
  padding: 2px 12px;
  color: #fff;
}
.status .sale {
  background-color: #000;
}
.loved i {
  color: #000;
  padding: 10px;
  border-radius: 50%;
  margin-right: 5px;
  transition: all 0.4s ease;
  cursor: pointer;
}
.img-best:hover i {
  background-color: #fff;
}
.add-cart {
  text-align: center;
  background: #fff;
  font-weight: 500;
  position: absolute;
  width: 98%;
  bottom: 5px;
  margin: 5px;
  display: flex;
  justify-content: center;
  padding: 10px 0;
  cursor: pointer;
  transition: all 0.4s ease;
}
.add-cart:hover {
  color: #fff;
  background-color: #d10202;
}
.dec-img-best {
  margin-top: 20px;
}
.dec-img-best .dec a {
  color: #000;
  font-size: 18px;
  letter-spacing: 1.5px;
  font-weight: 400;
  transition: all 0.4s ease;
}
.dec-img-best .dec a:hover {
  color: #d10202;
}
.dec-img-best .price {
  font-weight: bold;
  font-size: 16px;
}
.dec-img-best .discount {
  display: none;
  text-decoration: line-through;
  margin-left: 8px;
  color: var(--gray-color);
  font-size: 16px;
}

/* Start Blog */
.allBlog {
  margin-top: 50px;
}
.allContentBlog {
  position: relative;
  overflow-y: hidden;
  overflow-x: scroll;
}

.rightMove,
.leftMove {
  position: fixed;
  z-index: 100;
  top: 75%;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.5);
  display: flex;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.5s ease;
}
.rightMove:hover,
.leftMove:hover {
  background-color: #ccc;
}
.rightMove i,
.leftMove i {
  margin: auto;
}
.rightMove {
  right: 20px;
}
.leftMove {
  left: 20px;
}

.allContentBlog,
.fristBlog {
  display: flex;
  gap: 15px;
}
.allContentImg {
  position: relative;
}
.allContentImg .dataup,
.allContentImg .imgAuthor {
  position: absolute;
  left: 10px;
}
.allContentImg .dataup {
  background-color: #fff;
  padding: 2px 10px;
  margin-top: 10px;
}
.allContentImg .imgAuthor {
  width: 60px;
  bottom: 10px;
  border: 5px solid #eeeeee80;
  border-radius: 50%;
  transition: all 0.5s ease;
}
.allContentImg .imgAuthor:hover {
  width: 65px;
}
.decBlog .lactionBlog span a {
  color: var(--gray-color);
  transition: all 0.5s ease;
}
.decBlog .lactionBlog span a:hover,
.decBlog .titleBlog a:hover {
  color: var(--red-color);
}
.decBlog .titleBlog a {
  color: #000;
  font-size: 25px;
  letter-spacing: 1.5px;
  transition: all 0.3s ease;
}
.pBlog {
  color: var(--gray-color);
  font-size: 16px;
  line-height: 20px;
}

@media (max-width: 800px) {
  .allContentBlog,
  .fristBlog {
    flex-direction: column;
  }
  .imgBlog {
    width: 100% !important;
  }
  .allContentImg .imgAuthor {
    width: 40px;
  }
  .allContentImg .imgAuthor:hover {
    width: 45px;
  }
  .decBlog {
    width: 100% !important;
  }
  .rightMove,
  .leftMove {
    display: none;
  }
}
.allContentBlog::-webkit-scrollbar {
  display: none;
}

/* End Blog */
