:root {
  --gray-color: #848484;
  --gray-backgraund: #f2f2f2;
}
body {
  font-family: "Roboto", serif;
}
a {
  text-decoration: none;
}
.space {
  padding: 0 30px;
}
i {
  color: gray;
}
.top-header {
  background-color: black;
  color: #fff;
  display: flex;
  justify-content: space-between;
}
.discaount {
  font-size: 12px;
  padding: 10px;
}

.Shop-Now {
  position: relative;
}
.Shop-Now:hover {
  color: var(--gray-color);
}
.Shop-Now::before {
  position: absolute;
  border-bottom: 1px solid #fff;
  content: "";
  height: 100%;
  width: 100%;
}
.Shop-Now:hover::before {
  width: 100%;
  animation-name: shopNow;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

@keyframes shopNow {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
    border-bottom-color: var(--gray-color);
  }
}
.navbar {
  display: flex;
  justify-content: flex-end;
  background-color: #000;
  padding: 10px 20px;
  color: #fff;
}
@media (max-width: 700px) {
  .top-header .navbar {
    display: none;
  }
  .top-header {
    justify-content: center;
  }
}

.dropdown {
  position: relative;
  display: inline-block;
  margin-left: 20px;
  cursor: pointer;
}

.dropdown-toggle {
  color: #fff;
  text-decoration: none;
  font-size: 12px;
  display: flex;
  align-items: center;
  gap: 5px;
  position: relative;
}
.dropdown-icon::after {
  position: absolute;
  content: "";
  width: 6px;
  height: 6px;
  border: 1px solid #fff;
  border-top-color: transparent;
  border-left-color: transparent;
  right: -10px;
  transform: rotateZ(45deg);
  margin-bottom: 5px;
  margin-right: -3px;
}

.dropdown-toggle:hover {
  color: #ccc;
}

.test {
  width: 100%;
  height: 100%;
  background-color: transparent;
  position: absolute;
  z-index: 200;
}
.dropdown-menu {
  display: none;
  position: absolute;
  right: 0;
  margin-top: 10px;
  background-color: #fff;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  padding: 10px 0;
  min-width: 120px;
  z-index: 100;
  transition: all 0.5s ease;
  opacity: 0;
  transform: translateY(20px);
}
.show {
  transform: translateY(0) !important;
  opacity: 1 !important;
}

.dropdown-menu a {
  color: #000;
  text-decoration: none;
  padding: 10px 20px;
  display: block;
  font-size: 14px;
  transition: background-color 0.2s ease;
}

.dropdown-menu a:hover {
  color: var(--gray-color);
}

.all-landing {
  position: relative;
  background-color: var(--gray-backgraund);
  height: 100vh;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 30px;
}
header .logo img {
  width: 150px;
}
header i {
  color: #000;
  font-size: 20px;
  padding: 10px;
}
@media (max-width: 600px) {
  header {
    padding: 20px 0px;
  }
}
@media (max-width: 500px) {
  header .logo img {
    width: 110px;
  }
  header i {
    color: #000;
    font-size: 16px;
    padding: 10px;
  }
}
.notifications {
  position: relative;
}
.notifications::before {
  position: absolute;
  content: "0";
  top: -6px;
  width: 10px;
  height: 10px;
  background-color: #000;
  color: white;
  font-size: 10px;
  padding: 6px;
  border-radius: 50%;
  text-align: center;
  left: 25px;
}
.content-landing .content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 40px 30px;
  transition: all 0.3s ease;
  height: calc(90vh - 100px);
}
@media (min-width: 600px) and (max-width: 750px) {
  .content-landing .content {
    padding: 40px 0;
  }
}

.content-landing .content.hidden {
  opacity: 0;
}
.content-landing .img-landing img {
  width: 550px;
}
@media (max-width: 1100px) {
  .content-landing .img-landing img {
    width: 350px;
  }
}

.all-text h2 {
  font-size: 45px;
  width: 80%;
  letter-spacing: 6px;
  font-weight: 400;
}
@media (max-width: 850px) {
  .all-text h2 {
    font-size: 35px;
  }
}
@media (max-width: 600px) {
  .content-landing .content {
    flex-direction: column;
    text-align: center;
  }
  .all-text h2 {
    width: 100%;
  }
  .all-text {
    margin-bottom: 10px;
  }
}
.all-text span {
  font-weight: bold;
}
.all-text p {
  font-size: 17px;
}
.shop-now {
  position: relative;
  display: inline;
  transition: all 1s ease;
  cursor: pointer;
}
.shop-now::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 1px;
  background-color: #000;
  bottom: 0;
}
.shop-now:hover::before {
  animation-name: shop;
  animation-duration: 0.7s;
  animation-fill-mode: forwards;
}

@keyframes shop {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
    border-bottom-color: var(--gray-color);
  }
}

.form-signIn .inputs input {
  margin: 12px 25px;
  height: 40px;
  width: 250px;
  outline: none;
  border: 1px solid #ccc;
  padding: 0 10px;
}
.submit {
  margin: 12px 25px;
  border: none;
  background-color: #000;
  color: #fff;
  transition: 0.5s ease;
  padding: 10px 20px;
  font-weight: 500;
}
.submit:hover {
  background-color: #d43811;
}
.form-signIn input[type="checkbox"] {
  width: 18px;
  height: 18px;
  margin: 5px;
}
.Rember {
  display: flex;
  align-items: center;
}
.left-icon,
.right-icon {
  display: flex;
}
.left-navbar.open,
.right-navbar.open {
  left: 0;
}
.left-navbar {
  width: 320px;
  position: fixed;
  height: 100vh;
  background: #fff;
  left: -320px;
  top: 0;
  z-index: 1;
  box-shadow: -19px 0px 20px 20px #ccc;
  transition: all 0.5s ease;
}
.exit-right,
.exit {
  display: flex;
  padding: 10px;
}
.exit {
  justify-content: end;
}
.exit-right {
  justify-content: start;
}
.exit i {
  font-size: 25px;
}
.links-laft-bar {
  padding: 20px;
  position: relative;
}
.links-laft-bar ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-top: 20px;
  padding-left: 10px;
}
.links-laft-bar ul li {
  width: 100%;
  padding: 20px 0;
  cursor: pointer;
}
.links-laft-bar ul li a {
  color: #000;
  font-size: 20px;
  transition: all 0.5s ease;
  border-bottom: 0px solid var(--gray-color);
  position: relative;
}
.links-laft-bar ul .links-laft-bar-li .active {
  border-bottom: 1px solid var(--gray-color);
  color: var(--gray-color);
}
.links-laft-bar ul .links-laft-bar-li:hover .links-laft-bar-li-a {
  color: var(--gray-color);
}
.links-laft-bar ul .links-laft-bar-li .links-laft-bar-li-a::after {
  position: absolute;
  content: "";
  width: 0;
  height: 1px;
  background-color: var(--gray-color);
  left: 50%;
  bottom: 0;
  transition: all 0.5s ease;
}
.links-laft-bar ul .links-laft-bar-li:hover .links-laft-bar-li-a::after {
  width: 100%;
  left: 0;
}
.drop {
  position: relative;
}
.drop::before {
  position: absolute;
  content: "";
  width: 6px;
  height: 6px;
  border: 2px solid var(--gray-color);
  right: 0;
  border-left-color: transparent;
  border-bottom-color: transparent;
  transform: rotate(45deg);
}

.links-dropdown {
  display: none;
  width: 300px;
  position: absolute;
  right: -330px;
  background-color: #fff;
  transition: all 0.5s ease;
  z-index: 100;
  transition: all 0.5s ease;
  opacity: 0;
  transform: translateY(20px);
  box-shadow: 7px 12px 20px #eee;
}
@media (max-width: 600px) {
  .links-dropdown {
    top: 60px;
    right: -10px;
  }
  .content-landing .img-landing img {
    width: 250px;
  }
}
.links-dropdown ul li {
  padding: 12px;
}
.show-link {
  display: block;
}
.right-navBar {
  opacity: 0;
  position: fixed;
  background-color: #fff;
  padding: 30px;
  width: 300px;
  right: -430px;
  top: -5%;
  height: 100%;
  z-index: 100;
  transition: all 0.5s ease;
}
.right-navBar.open {
  opacity: 1;
  right: 0;
}
.emptyShop {
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.emptyShop p {
  color: #000;
  font-weight: 400;
}
.search {
  border: 1px solid var(--gray-backgraund);
  padding: 5px;
  display: flex;
  justify-content: space-between;
}
.search input {
  height: 45px;
  width: 100%;
  border: none;
  padding-left: 10px;
  outline: none;
}
.search i {
  color: var(--gray-color);
}
.products {
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.products p {
  color: #000;
}

.boltes {
  display: flex;
  background-color: var(--gray-backgraund);
  justify-content: center;
}
.boltes div {
  margin: 3px;
  width: 15px;
  height: 15px;
  background-color: #fff;
  border-radius: 50%;
  border: 1px solid #000;
  cursor: pointer;
}
.boltes .active {
  background-color: #000;
}
